/* 0.- Global Styles */
ul, li, a, p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
h1, h2 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.row {
  margin: 0;
}
.title-hover {
  width: 140px;
  border: 4px solid #FF8F44;
  margin-top: 0;

}
/* 1.- Navbar */
.navbar {
  z-index: 100;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-default {
  margin-bottom: 0;
  background-color: #008ccc;
  background-image: none;
  border: none;
  border-radius: 0;
}
.container-fluid .navbar-header {
  margin: 0;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-toggle {
  margin-top: 13px;
}
.navbar-default .navbar-nav li a:focus {
  color: #fff;
}
.navbar-default .navbar-nav li a:hover {
  color: #fff;
}
.navbar-header img {
  height: 60px;
  padding: 2px;
  margin-left: 20px;
}
.navbar-default .navbar-nav li a {
  color: #fff;
  font-size: 1.1em;
  padding-top: 20px;
}
/* 2.- Landing Page */
.landing-fundacion {
  padding: 0;
  margin-bottom: 100px;
}
.carousel-inner {
  position: relative;
  margin-bottom: 50px;
}
.carousel-inner-caption {
  position: absolute;
}
.carousel-fundacion-img {
width: 100%;
opacity: 0.7;
min-height: 300px;
}
/* Section 2*/
.row {
  text-align: center;
}
.row h1 {
  font-size: 4em;
  color: #0061aa;
  margin-bottom: 5px;
}
.thumbnail {
  height: 450px;
}
.thumbnail .caption {
text-align: center;
}
.thumbnail .caption h2 {
 color: #0061aa;
 font-size: 2em;
}
.btn .btn-prymary img {
  height: 10px;
}
.features-fundacion {
  text-align: center;
}
.features-fundacion h1 {
  font-size: 3em;
  padding: 0;
}
/* Footer */
.container-fluid {
  padding: 0;
  margin: 0;
}
.footer-fundacion {
  background: #0061aa;
}
.embed-responsive-item {
  max-height: 350px;
  box-sizing: border-box;
  padding: 30px;
}
.embed-responsive-16by9 {
  padding-bottom: 300px;
}
.footer-fundacion-contact ul {
  list-style: none;
  padding-top: 20px;
}
.input-group {
  width: 300px;
}
.input-group .input-group-lg .form-control{
  height: 100px;
}
form {
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn-fundacion {
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid white;
  width: 100px;
  color: #fff;
}
label {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
/* ABOUT PAGE */
.about__inner_background {
  background-image: url("../img/about-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-top: 60px;
}
.about__inner {
  margin-top: 60px;
  background-color: #0061aa;
  height: 400px;
}
.about__inner h2 {
  color: #fff;
  font-size: 2em;
  padding-top: 40px;
  margin-top: 0;
}
.about__inner p {
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.about__inner_background_bottom {
  background-image: url("../img/about-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}
.about__inner_bottom h2 {
  color: #0061aa;
  font-size: 2em;
  padding-top: 40px;
}
.about__inner_bottom p {
  color: #000;
}
.about__inner_bottom p span {
  color: #000;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  color: #0061aa;
}
.about__inner_bottom ul li {
list-style: none;
}
.about__inner_bottom ul {
  padding-left: 0;
}

@media only screen and (max-width : 767px) {
  .about__inner h2 {
    font-size: 1.5em;
    padding-left: 20px;
  }

  .about__inner_background {
    height: 250px;
  }
  .about__inner_bottom h2 {
    font-size: 1.5em;
  }
  .about__inner_background_bottom {
    height: 250px;
  }
}
